@model PasswordChangeViewModel

<h2 class="form-title">Change Password</h2>

<div class="form-horizontal">
	<form class="form-area" method="post">
		<div class="form-group">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password"></span>
		</div>

		<div asp-validation-summary="All"></div>

		<p class="form-buttons">
			<button type="submit" class="btn btn-primary btn-submit" role="button">Change Password</button>
		</p>
		<p class="form-buttons">
			<a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-cancel">Cancel</a>
		</p>
	</form>

</div>